# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
Analysis
1. Under the weater condition of tempurature smaller than 17 degree and with cloudiness greater than 20, 9 hotel names
are plotted in the google maps. Those hotel names are from three different countries like US, Russia and canada.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyC8q3mMsiAPwH-kyF3c10uyu5Z-x9nrpBc

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
# Output File (CSV)
cities_file = pd.read_csv("../output_data/cities.csv", dtype="object", encoding="utf-8")
cities_file.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,0,tasiilaq,100,GL,1588003565,92,65.61,-37.64,33.76,23.38
1,1,banjar,40,ID,1588003566,100,-8.19,114.97,82.4,8.05
2,2,atuona,35,PF,1588003566,83,-9.8,-139.03,81.12,19.51
3,3,hilo,90,US,1588003460,83,19.73,-155.09,69.8,8.05
4,4,yellowknife,20,CA,1588003566,72,62.46,-114.35,14,14.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [64]:
# Store 'Lat' and 'Lng' into  locations and change into float
locations = cities_file[["Lat", "Lng"]].astype(float)

# Convert humidity to float and store
# HINT: be sure to handle NaN values

humidity = cities_file["Humidity"].astype(float)

#converts max temp and and cloudiness data into float
cities_file['Max Temp'] = pd.to_numeric(cities_file['Max Temp'])
cities_file['Cloudiness'] = pd.to_numeric(cities_file['Cloudiness'])
#drops null value from data frame
cities_file = cities_file.dropna()
#display dataframe
cities_file.head(10)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,0,tasiilaq,100.0,GL,1588003565,92,65.61,-37.64,33.76,23.38
1,1,banjar,40.0,ID,1588003566,100,-8.19,114.97,82.40,8.05
2,2,atuona,35.0,PF,1588003566,83,-9.8,-139.03,81.12,19.51
3,3,hilo,90.0,US,1588003460,83,19.73,-155.09,69.80,8.05
4,4,yellowknife,20.0,CA,1588003566,72,62.46,-114.35,14.00,14.99
5,5,bay-khaak,67.0,RU,1588003566,34,51.17,94.5,56.62,4.09
6,6,torbay,90.0,CA,1588003516,35,47.67,-52.73,44.01,10.29
7,7,iquique,0.0,CL,1588003567,64,-20.22,-70.14,68.00,14.99
8,8,upernavik,98.0,GL,1588003567,95,72.79,-56.15,31.75,0.4
9,9,ancud,75.0,CL,1588003567,100,-41.87,-73.82,60.01,14.99

In [67]:
# Create a poverty Heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [81]:
#filters dataframe using conditions
fitting_weather_df = cities_file.loc[(cities_file["Max Temp"] < 16) & (cities_file["Cloudiness"] > 20), :]
#drops null value
fitting_weather_df = fitting_weather_df.dropna(how='any')
#display index
fitting_weather_df.reset_index(inplace=True)
del fitting_weather_df['index']
#display dataframe
fitting_weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,31,leningradskiy,77.0,RU,1588003572,84,69.38,178.42,15.13,5.37
1,54,tiksi,100.0,RU,1588003576,94,71.69,128.87,15.40,6.4
2,152,barrow,75.0,US,1588003597,84,71.29,-156.79,8.60,11.41
3,215,pevek,65.0,RU,1588003610,93,69.7,170.31,14.40,10.49
4,241,clyde river,75.0,CA,1588003616,100,70.47,-68.59,14.00,3.36
5,252,aklavik,75.0,CA,1588003618,61,68.22,-135.01,15.80,14.99
6,413,egvekinot,42.0,RU,1588003657,93,66.32,-179.17,4.77,0.92
7,505,deputatskiy,100.0,RU,1588003677,90,69.3,139.9,10.81,4.25
8,533,bilibino,57.0,RU,1588003683,87,68.05,166.44,15.51,0.83
9,557,norman wells,40.0,CA,1588003688,66,65.28,-126.83,15.80,3.36

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [84]:
# set up additional columns to hold information
fitting_weather_df['Hotel Name'] = ""
fitting_weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Hotel Name
0,31,leningradskiy,77.0,RU,1588003572,84,69.38,178.42,15.13,5.37,
1,54,tiksi,100.0,RU,1588003576,94,71.69,128.87,15.40,6.4,
2,152,barrow,75.0,US,1588003597,84,71.29,-156.79,8.60,11.41,
3,215,pevek,65.0,RU,1588003610,93,69.7,170.31,14.40,10.49,
4,241,clyde river,75.0,CA,1588003616,100,70.47,-68.59,14.00,3.36,

In [83]:
# find the closest restaurant of each type to coordinates
hotellist = []

for i in range(len(fitting_weather_df)):
    lat = fitting_weather_df.loc[i]['Lat']
    lng = fitting_weather_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
fitting_weather_df["Hotel Name"] = hotellist
fitting_weather_df = fitting_weather_df.dropna(how='any')
fitting_weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Hotel Name
0,31,leningradskiy,77.0,RU,1588003572,84,69.38,178.42,15.13,5.37,Leningradsky
1,54,tiksi,100.0,RU,1588003576,94,71.69,128.87,15.40,6.4,Arktika
2,152,barrow,75.0,US,1588003597,84,71.29,-156.79,8.60,11.41,Utqiagvik
3,215,pevek,65.0,RU,1588003610,93,69.7,170.31,14.40,10.49,Pevek
4,241,clyde river,75.0,CA,1588003616,100,70.47,-68.59,14.00,3.36,Clyde River
5,252,aklavik,75.0,CA,1588003618,61,68.22,-135.01,15.80,14.99,Aklavik
6,413,egvekinot,42.0,RU,1588003657,93,66.32,-179.17,4.77,0.92,Egvekinot
7,505,deputatskiy,100.0,RU,1588003677,90,69.3,139.9,10.81,4.25,Deputatsky
8,533,bilibino,57.0,RU,1588003683,87,68.05,166.44,15.51,0.83,Bilibino
9,557,norman wells,40.0,CA,1588003688,66,65.28,-126.83,15.80,3.36,Norman Wells

In [85]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name


hotel_info = [info_box_template.format(**row) for index, row in fitting_weather_df.iterrows()]
#convert data into float
fitting_weather_df['Lat'] = pd.to_numeric(fitting_weather_df['Lat'])
fitting_weather_df['Lng'] = pd.to_numeric(fitting_weather_df['Lng'])
locations_marker = fitting_weather_df[["Lat", "Lng"]]

     Lat     Lng
0  69.38  178.42
1  71.69  128.87
2  71.29 -156.79
3  69.70  170.31
4  70.47  -68.59
5  68.22 -135.01
6  66.32 -179.17
7  69.30  139.90
8  68.05  166.44
9  65.28 -126.83

In [86]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations_marker,info_box_content =hotel_info)
fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))